.prevencion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1717px;
  width: 375px;
  background-color: #F79D01;
  height: 114rem;
}

.prevencion-img {
  width: 302px;
  height: 236px;
  margin: 20px 19px;
}

.titulo-imagen {
  font-size: 1.8rem;
  margin-inline: 1.5rem;
  margin: 0px 0px 15px 0px;
  width: 76px;
  height: 33px;
}

.parrafo-imagen {
  font-size: 1.1rem;
  margin-inline: 1.5rem;
  line-height: 26px;
  margin: 0px 19px 24px;
}

.card {
  border-radius: 10px;
  width: 340px;
  height: 500px;
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 20px 18px 0px;
}

.boton {
  margin: 0px 20px 31px;
  border-radius: 10px;
  width: 300px;
  height: 48px;
}

.titulo-h2 {
  margin: 40px 70px 0px 70px;
  height: 85px;
  width: 234px;
}