

.prevencion-img {
  width: 302px;
  height: 236px;
}

.titulo-imagen{
  font-size: 1.8rem;
  margin-inline: 1.5rem;
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}

.parrafo-imagen{
  font-size: 1.1rem;
  margin-inline:1.5rem;
  line-height: 26px;
  margin-bottom: 1.5rem;
}