.contacto {
  height: 39vh;
  background-color: var(--color-rojo);
  
}

.contenedor {
  height: 39vh;
  width: 50%;
  margin: 0 auto;
  /* height: 304px; */
  /* background-color: lightblue; */

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.contenedor {
  margin-top: 78px;
  height: 304px;
  margin-top: 8rem !important;
}

.contacto-titulo {
  font-size: 33px;
  font-weight: bold;
  /* margin-top: 78px; */
  /* margin: 0px 156px 22px 157px; */
  color: #F79D01;
}

.icono {
  font-size: 1.5rem;
  margin-inline: 0.8rem;
  color: #F79D01;
}

.iconos {
  margin-top: 3rem;
}

.parrafo-contacto {
  color: rgba(225,225,225,1);
  font-size: 1rem;
  margin-top: 3rem;
}

@media (width <= 415px){
  .contacto {
    height: 100%;
    background-color: var(--color-rojo); 
  }

  .contenedor {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }

  .iconos {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}