.contacto {
  background-color: var(--color-rojo);

}

.contenedor {
  width: 50%;
  margin: 0 auto;
  /* height: 304px; */
  /* background-color: lightblue; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
}

.contacto-titulo {
  font-size: 33px;
  font-weight: bold;
  /* margin-top: 78px; */
  /* margin: 0px 156px 22px 157px; */
  color: #F79D01;
}

.icono {
  font-size: 1.5rem;
  margin-inline: 0.8rem;
  color: #F79D01;
}

.iconos {
  margin-top: 4rem;
}

.parrafo-contacto {
  color: rgba(225, 225, 225, 1);
  font-size: 1rem;
  margin-top: 1.4rem;
}

@media (width <=415px) {
  .contacto {
    height: 100%;
    background-color: var(--color-rojo);
  }

  .contenedor {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .iconos {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

@media (width <=600px) {
  .contacto {
    height: 382px;
  }

  .contenedor {
    margin-top: 0px !important;
    height: 382px;
  }

  .contacto-titulo {
    margin: 78px 0px 0px 0px;
  }

  .parrafo-contacto {
    margin-top: 22px;
  }

  .iconos {
    margin: 16px 0px 73px 0px;
  }

  .icono {
    margin: 16px 14px;
  }
}