.hero {
  background-color: var(--color-turquesa);
  background-image: url('../../../imagenes/celular-llamando-CAS.png');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover; */
  display: grid;
  place-items: center;
}

.hero__contenedor {
  width: 860px;
  max-width: 1400px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3rem;

  /* background-color: rgba(220, 220, 220, 0.6); */
}

.hero__contenedor__encabezado {
  width: 100%;
  height: 50% !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* margin-bottom: 4rem; */

  /* background-color: lightgrey; */
}

.hero__contenedor__encabezado__titulo-1 {
  color: var(--color-amarillo) !important;
  font-size: 80px;
  text-align: start;
  font-weight: 800;

}

.hero__contenedor__encabezado__titulo-2 {
  font-size: 35px;
  color: var(--color-amarillo) !important;
  /* margin-bottom: 2.5rem; */
  font-weight: 600;
}

.hero__contenedor__botones {
  margin-top: 10rem;

  /* background-color: lightgoldenrodyellow; */
}

.contenedor__botones {
  display: flex;
  justify-content: space-between;
  /* background-color: azure; */
}

.hero__contenedor__botones__titulo-1 {
  font-size: 1.375rem;
  color: var(--color-blanco);
  margin-bottom: 1.5rem;
}

/* .hero__contenedor__botones__titulo-3 {
  font-size: 16px;
  color: #E1E1E1;
  width: 257px;
  height: 25px;
  margin: 0px 75px 12px 43px;
} */

.hero__contenedor__botones__boton-1 {
  width: 400px !important;
  height: 48px !important;
  border-radius: 10px !important;
  /* margin: 0px 37px 12px 38px !important; */
  background-color: var(--color-verde-oscuro) !important;
  font-size: 1.2rem !important;
  color: #FCFCFC !important;
  border: none !important;
}

button.hero__contenedor__botones__boton-1:hover {
  background-color: var(--color-verde-oscuro-h) !important;
}

.hero__contenedor__botones__boton-2 {
  width: 400px !important;
  height: 48px !important;
  border-radius: 10px !important;
  /* margin: 0px 37px 5px 38px !important; */
  background-color: var(--color-verde-claro) !important;
  font-size: 1.2rem !important;
  color: #FCFCFC !important;
  border: none !important;
}

button.hero__contenedor__botones__boton-2:hover {
  background-color: var(--color-verde-claro-h) !important;
}

.hero__contenedor__botones__titulo-2 {
  font-size: 16px;
  color: #E1E1E1;
  height: 25px;
  margin-top: 1.5rem;
}

@media(width <=1000px) {

  .hero__contenedor {
    width: 85%;
    margin-top: 3rem;
  }

  .hero__contenedor__botones__boton-1 {
    width: 20rem !important;
    height: 3rem !important;
    margin: 0px 0px 12px 0px !important;
  }

  .hero__contenedor__botones__boton-2 {
    width: 20rem !important;
    height: 3rem !important;
  }
}

@media(width <=768px) {
  .hero__contenedor__botones__boton-1 {
    width: 17rem !important;
    height: 3rem !important;
    margin: 0px 0px 12px 0px !important;
    font-size: 1rem !important;
  }

  .hero__contenedor__botones__boton-2 {
    width: 17rem !important;
    height: 3rem !important;
    font-size: 1rem !important;
  }
}

@media(width <=630px) {
  .hero__contenedor__botones__boton-1 {
    width: 14rem !important;
    height: 3rem !important;
    margin: 0px 0px 12px 0px !important;
    font-size: 1rem !important;
  }

  .hero__contenedor__botones__boton-2 {
    width: 14rem !important;
    height: 3rem !important;
    font-size: 1rem !important;
  }
}

@media (max-width:520px) {
  .hero {
    background-image: url('../../../imagenes/hero_mobile.jpg');
    height: 50.75rem;
  }

  .hero__contenedor__encabezado {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;

    /* background-color: lightgrey; */
  }

  .hero__contenedor__encabezado__titulo-1 {
    color: var(--color-amarillo) !important;
    font-size: 2.5rem;
    text-align: start;
    font-weight: 800;

  }

  .hero__contenedor__encabezado__titulo-2 {
    font-size: 1rem;
    color: var(--color-amarillo) !important;
    margin-bottom: 14rem;
    font-weight: 600;
  }

  .hero__contenedor__encabezado__titulo-3 {
    font-size: 1rem !important;
    color: var(--color-blanco) !important;
    margin-top: 1.25rem;
    margin-bottom: 4rem;
  }

  .hero__contenedor__botones__titulo-1 {
    font-size: 1rem !important;
    color: var(--color-blanco);
    margin-bottom: 0.5rem;
  }

  .hero__contenedor__botones__titulo-2 {
    font-size: 16px;
    color: #E1E1E1;
    width: 100%;
    height: 25px;
    margin-top: 0rem;
  }

  .hero__contenedor__botones__boton-1 {
    width: 18.75rem !important;
    height: 3rem !important;
    border-radius: 10px !important;
    margin: 0px 0px 12px 0px !important;
    background-color: var(--color-verde-oscuro) !important;
    font-size: 1rem !important;
    color: #FCFCFC !important;
    border: none !important;
  }

  .hero__contenedor__botones__boton-2 {
    width: 18.75rem !important;
    height: 3rem !important;
    border-radius: 10px !important;
    background-color: var(--color-verde-claro) !important;
    font-size: 1rem !important;
    color: #FCFCFC !important;
    border: none !important;
  }

  .contenedor__botones {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
  }

  .hero__contenedor__botones {
    margin-top: 0rem;
  }

  .hero__contenedor {
    width: 18.75rem;
    height: 103%;
  }
}