.header-seccion {
  width: 100%;
  
  height: 8vh;
  position: fixed;
  overflow: hidden;
  z-index: 1111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);

  font-family: var(--tipografia-ppal);
}

.navbar {
  max-width: 1250px;
  /* margin: 0 auto;
  width: 85%; */
  /* background-color: azure; */
}

.header-seccion-scroll {
  background-color: var(--color-rojo-transp);
  transition: .7s linear;
}

.navbar-color {
  width: 100%;
  background-color: transparent;
}

.navbar-brand {
  color: var(--color-blanco)!important;
}

.nav-link{
  font-family: var(--tipografia-ppal)!important;
  font-size: 24px!important;
  color: var(--color-gris-oscuro)!important;
}

.offcanvas-body, .offcanvas-header {
  background-color: rgb(255, 255, 255,1);
}


.modal-backdrop {
  background-color: transparent;
  opacity: 0!important;
}

@media (width>1250px) {
 :root {
  font-size: 8px;
 }

} 
  

@media (min-width: 768px) {
  .offcanvas-body{
    background-color: transparent;
  }

  .nav-link {
    color: var(--color-blanco)!important;
  }
}