.header-seccion {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: var(--tipografia-ppal);
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}


.header-seccion-scroll {
  background-color: var(--color-rojo-transp);
  transition: .7s linear;
}

.navbar-seccion {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-seccion ul {
  margin-bottom: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  font-family: var(--tipografia-ppal);
  font-size: 18px;
  margin: 0 15px;
  line-height: 40px;
  font-weight: bold;
}

.menu a, .logo {
  text-decoration: none;
  color: var(--color-blanco);
  line-height: 0;
}

.logo {
  font-size: 22px;
}

.open-menu, .close-menu {
  display: none;
}

@media (max-width: 900px) {

  .logo { 
    color: var(--color-gris-oscuro);
  }
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    background-color: var(--color-blanco);
    overflow-y: auto;
    /* padding-top: 15%; */

    opacity: 0;
    pointer-events: none;
  }

  .menu li a {
      color: var(--color-gris-oscuro);
      line-height: 60px;
      
  }

  .open-menu, .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu svg {
    color: var(--color-gris-oscuro);

  }

  .close-menu {
    align-self: flex-end;
  }

  .menu_abierto {
    opacity: 1;
    pointer-events: all;
  }
}
