.scroll-to-top-button {
    position: absolute;
    z-index: 3;
    top: 85%;
    right: 5%;
    position: fixed;
    display: none;
}

.visible-boton {
    display: block;
}

.up {
    font-size: 40px;
    color: #F79D01;
    cursor: pointer;
}