.vyc {
  width: 100%;
  height: 70vh;
  
  background-image: url('../../../imagenes/sala-de-escucha-llamados.png');
  background-size: cover;
  display: grid;
  place-items: center;
}

.vyc-seccion {  
  /* background-color: lightcoral; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1em 0px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "vyc_voluntariado"
    "vyc_capacitacion";
  width: 70%;
}

.vyc_voluntariado { grid-area: vyc_voluntariado; 

}

.vyc_capacitacion { grid-area: vyc_capacitacion; 

}


.parrafo {
  color: var(--color-gris-oscuro);
  font-weight: 500;
  margin-inline: 1.5rem;
  line-height: 22px;
  font-size: 1.125rem;
  text-align: start;
  
  margin: 1rem 0;
  padding: 0;
}

.titulo-vyc {
  margin: 0px 83px 0px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-rojo);
}

@media (width <= 415px){
  .parrafo {
    color: var(--color-gris-oscuro);
    font-weight: 500;
    margin-inline: 1.5rem;
    line-height: 22px;
    font-size: 1rem;
    text-align: start;
    width: 18.875rem;
    height: 100%;
    /* margin: 0px 36px 32px 37px; */
    padding: 0;
  }
  
.titulo-vyc {
  margin: 0px 83px 0px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #A3185B;
}

.vyc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  background-image: url('../../../imagenes/vyc_mobile.jpg');
  background-size: cover;
}
}