.caja-seccion {
  width: 100%;
  height: 8vh;
  
  background-color: lightcoral;
}

.navbar-secciones {

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent; */
  position: fixed;

  background-color: lightcoral;
}

.navbar-toggler{
  border: none !important;
}

.navbar-cas {
  position: relative;
  z-index: 3;
  height: 82px !important;
}


.navbar-secciones-item {
  text-decoration: none;
  list-style: none;
}