*{
  box-sizing: border-box;
}

.boton{
  width: 19rem;
  height: 3.5rem;
  background-color: #3C3C3C !important;
  color: white !important;
}

.titulo-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-inline: 1rem;
}