:root {
  --tipografia-ppal: 'Noto Sans' , sans-serif;
  
  /*Colores definidos*/
  --color-amarillo: rgba(247,157,1,1);
}

*{
  box-sizing: border-box;
  font-family: var(--tipografia-ppal);
}

.boton{
  width: 19rem;
  height: 3.5rem;
  background-color: #3C3C3C !important;
  color: white !important;
}

.boton-blanco{
  font-size: 16px !important;
  border: 2px solid !important;
  background-color: #FFFFFF !important;
  border-color: #F79D01 !important;
  color: #F79D01 !important;
  width: 300px !important;
  height: 48px !important;
  margin: 0px 37px 28px 38px !important; 
}

.titulo-h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-inline: 1rem;
}